<h1>Lista de Facturas</h1>
<hr>

<a class="btn btn-primary">
    <i class="fa fa-plus"> Agregar</i>
</a>

<table class="table mt-3">
    <thead class="table-dark">
        <tr>
            <th class="text-center" scope="col">#</th>
            <th class="text-center" scope="col">Precio Total</th>
            <th class="text-center" scope="col">Cliente</th>
            <th class="text-center" scope="col">Forma de pago</th>
            <th class="text-center" scope="col">Opciones</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row"></th>
            <td class="text-center"></td>
            <td class="text-center"></td>
            <td class="text-center"></td>
            <td class="text-center">
                <div class="row">
                    <div class="col-md-4">
                        <a class="btn btn-info"> <i class="fa fa-pencil-square-o"></i>
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a class="btn btn-success"> <i
                                class="fa fa-eye"></i>
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a class="btn btn-danger"> <i class="fa fa-trash"></i>
                        </a>
                    </div>
                </div>
            </td>
        </tr>
    </tbody>
</table>