<div class="wrapper">
  <!-- Navbar -->
  <app-navbar></app-navbar>
  <!-- /.navbar -->

  <!-- Sidebar -->
  <app-sidebar></app-sidebar>
  <!-- /.sidebar -->

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
      <app-breadcrumbs></app-breadcrumbs>
    <!-- /.content-header -->

    <!-- Main content -->
    <div class="content">
      <div class="container-fluid">
        <div class="row">
          <router-outlet></router-outlet>
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </div>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->

  <!-- Main Footer -->
  <footer class="main-footer">
    <strong>Copyright &copy; 2020 <a href="http://adminlte.io">Provenorte.e</a>.</strong>
    All rights reserved.
    <div class="float-right d-none d-sm-inline-block">
      <b>Version</b> 3.0.5
    </div>
  </footer>
</div>
<!-- ./wrapper -->


<!-- <div class="wrapper"> -->
<!-- Navbar -->
<!-- <app-navbar></app-navbar> -->
<!-- /.navbar -->
<!-- Main Sidebar Container -->
<!-- <app-sidebar></app-sidebar> -->
<!-- Main contenainer -->
<!-- <div class="content-wrapper">

    <router-outlet></router-outlet>
  </div> -->
<!-- /.container-->
<!-- </div> -->