<div class="card">
  <!-- /.card-header -->
  <div class="card-body">

    <a class="btn btn-primary">
      <i class="fa fa-plus"> Agregar</i>
    </a>

    <table class="table mt-3">
      <thead class="table-dark">
        <tr>
          <th class="text-center" scope="col">#</th>
          <th class="text-center" scope="col">Cédula</th>
          <th class="text-center" scope="col">Nombre</th>
          <th class="text-center" scope="col">Correo</th>
          <th class="text-center" scope="col">Teléfono</th>
          <th class="text-center" scope="col">NIT</th>
          <th class="text-center" scope="col">Dirección</th>
          <th class="text-center" scope="col">Tienda</th>
          <th class="text-center" scope="col">Opciones</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row"></th>
          <td class="text-center"></td>
          <td class="text-center"></td>
          <td class="text-center"></td>
          <td class="text-center"></td>
          <td class="text-center"></td>
          <td class="text-center"></td>
          <td class="text-center"></td>
          <td class="text-center">
            <div class="row">
              <div class="col-md-6">
                <a class="btn btn-info"> <i class="fa fa-pencil-square-o"></i>
                </a>
              </div>
              <div class="col-md-5 ml-1">
                <a class="btn btn-danger"> <i class="fa fa-trash"></i>
                </a>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>